[Unit]
Description=Ethereum Erigon client daemon in Archive mode
After=network.target

[Service]
Environment="GODEBUG=netdns=go"
EnvironmentFile=${CONF_FOLDER}/${SERVICE_NAME}.conf
ExecStart=/usr/bin/erigon \$ARGS
Restart=always
User=${SERVICE_NAME}
KillSignal=SIGTERM
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
