[Unit]
Description=Ethereum geth client daemon by The Ethereum Foundation
After=network.target

[Service]
EnvironmentFile=${CONF_FOLDER}/${USER_NAME}.conf
ExecStart=/usr/bin/geth \$ARGS
Restart=always
User=${USER_NAME}
KillSignal=SIGTERM
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target