 [Unit]
 Description=Lighthouse Validator %I
 After=network.target

 [Service]
 EnvironmentFile=/etc/ethereum/${SERVICE_NAME}@%i
 EnvironmentFile=/home/%i/data/validators/rp-fee-recipient-env.txt
 ExecStart=/usr/bin/lighthouse \$ARGS --suggested-fee-recipient \${FEE_RECIPIENT}
 Restart=always
 User=${SERVICE_NAME}

 [Install]
 WantedBy=multi-user.target