[Unit]
Description=Lighthouse Beacon chain daemon
After=network.target

[Service]
EnvironmentFile=${CONF_FOLDER}/${SERVICE_NAME}.conf
ExecStart=/usr/bin/lighthouse \$ARGS
Restart=always
User=${SERVICE_NAME}
KillSignal=SIGTERM
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target