[Unit]
Description=Nethermind Ethereum Daemon
After=network.target

[Service]
User=${USER_NAME}
EnvironmentFile=${CONF_FOLDER}/${CLIENT_NAME}.conf
ExecStart=/usr/bin/nethermind \$ARGS
Restart=on-failure
WorkingDirectory=/home/${USER_NAME}
LimitNOFILE=1000000
KillSignal=SIGTERM
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
