[Unit]
Description=Nethermind Ethereum Daemon
After=network.target

[Service]
User=${SERVICE_NAME}
EnvironmentFile=${CONF_FOLDER}/${SERVICE_NAME}.conf
ExecStart=/usr/bin/nethermind \$ARGS
Restart=on-failure
WorkingDirectory=/home/${SERVICE_NAME}
LimitNOFILE=1000000
KillSignal=SIGTERM
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
